* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #004a80;
  --primary-color-hover: #033e68;
  --primary-color-opaca: #cce8fc;
  --secondary-color: #f2f2f2;
  --t-color: #45b2d7;
  --t-color-hover: #2da7cf;

  --text-color: #000;
  --text-secundary-color: #707070;
  --text-secundary-color-hover: #575757;

  --white: #fff;
}

body {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-color);
}