.hero {
  background-color: var(--secondary-color);
  min-height: 100vh;
  padding: 10px 12% 0 12%;

  & img {
    width: 600px;
  }

  & .top-zone {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    user-select: none;

    & img {
      width: 550px;
      pointer-events: none;
    }
  }

  & h1 {
    font-size: 20px;
    font-weight: normal;
  }

  & strong {
    color: #004A80;
    font-size: 30px;
  }

  .card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    & .cartao:hover {
      background-color: var(--primary-color-opaca);
    }

    & .cartao {
      display: flex;
      width: 186px;
      height: 110px;
      background-color: #fff;
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      & .card-info a {
        text-decoration: none;
      }

      & img {
        max-width: 40px;
      }

      & p {
        color: #777777;
      }
    }
  }
}

@media (max-width: 999px) {
  .hero {
    display: inline-block;
    padding-top: 30px;

    & .card-grid {
      & .cartao {
        display: flex;
        width: 45%;

      }
    }

    & .top-zone {
      display: inline;

      & img {
        display: none;
      }
    }

    & h1 {
      font-size: 15px;
    }

    & img {
      width: 100%
    }
  }
}